<!DOCTYPE html>
<html>
<head>
  <title>{{ api_name }}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_prefix }}/assets/stylesheets/bootstrap.css"/>
</head>
<body>
<div class="container">
  <h1>{{ api_name }}</h1>

  <ul class="group-list">
    {{# groups }}
      {{> rspec_api_documentation/subgroups}}
    {{/ groups }}
  </ul>

</div>
</body>
</html>
