<!DOCTYPE html>
<html>
<head>
  <title>{{api_name}} > {{ index_and_desc }}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_prefix }}/assets/stylesheets/bootstrap.css"/>
  <link rel="stylesheet" href="{{ url_prefix }}/assets/stylesheets/main.css"/>
</head>
<body>
<div class="container">
  <div class="page-header">
    <h1>{{ index_and_desc }}</h1>
  </div>

  <ul class="breadcrumb">
    {{#ancestors}}
      <li>
        <a href="{{ url_prefix }}/{{ file_path }}">{{index_and_desc}}</a>
        <span class="divider">/</span>
      </li>
    {{/ancestors}}
    <li class="active">
      {{index_and_desc}}
    </li>
  </ul>

  <ul class="unstyled">
    {{# examples }}
    <li class="api">
      <i class="{{http_method_class}}"></i>
      <a href="{{ url_prefix }}/{{file_path}}">{{index_and_desc}}</a>
    </li>
    {{/ examples }}
    {{# children }}
      {{> rspec_api_documentation/mustaches/subgroups}}
    {{/ children }}
  </ul>

</div>
</body>
</html>
