<li class="group">
  <a href="{{ url_prefix }}/{{ file_path }}">
    {{index_and_desc}}
  </a>

  <ul class="unstyled api">
    {{# examples }}
    <li class="api">
      <i class="{{http_method_class}}"></i>
      <a href="{{ url_prefix }}/{{file_path}}">{{index_and_desc}}</a>
    </li>
    {{/ examples }}
  </ul>

  <ul class="unstyled group">
    {{# children }}
      {{> rspec_api_documentation/mustaches/subgroups}}
    {{/ children }}
  </ul>
</li>
